In [25]:
import pandas as pd
from datetime import datetime

In [26]:
def print_all(arr):
    for item in arr:
        print(item)

In [27]:
# load the dataset with columns we intend to use
usedcols = ['DateOfCall', 'CalYear', 'HourOfCall', 'IncidentGroup', 
'PropertyType', 'PumpHoursRoundUp', 'NumPumpsAttending', 
'Notional Cost (£)', 'PropertyCategory']
ds = pd.read_csv('data/lfb_incident.csv', usecols=usedcols)
print("Count:", len(ds))

Count: 1465060

In [28]:
# filter: remove row if there is nan in any other column
ds3 = ds.dropna()
print("Count:", len(ds3))

Count: 1453312

In [29]:
# print
ds4 = pd.DataFrame(ds3)
ds4[0:3]

,DateOfCall,CalYear,HourOfCall,IncidentGroup,PropertyCategory,PropertyType,NumPumpsAttending,PumpHoursRoundUp,Notional Cost (£)
0,01 Jan 2009,2009,0,Special Service,Road Vehicle,Car,2.0,1.0,255.0
2,01 Jan 2009,2009,0,Fire,Outdoor,Road surface/pavement,1.0,1.0,255.0
3,01 Jan 2009,2009,0,Fire,Outdoor,Domestic garden (vegetation not equipment),1.0,1.0,255.0

In [30]:
# convert: IncidentDate from date to month only
ds4['DateOfCall'] = ds4['DateOfCall'].apply(lambda row: datetime.strptime(row, '%d %b %Y').strftime('%-m'))

In [31]:
# check: what are all possible values for IncidentGroup?
#print_all(ds4['IncidentGroup'].unique())

ds4['NumPumpsAttending'] = ds4['NumPumpsAttending'].astype('int64')
ds4['Notional Cost (£)'] = ds4['Notional Cost (£)'].astype('int64')
ds4['PumpHoursRoundUp'] = ds4['PumpHoursRoundUp'].astype('int64')
ds4['HourOfCall'] = ds4['HourOfCall'].astype('int64')

# convert: IncidentGroup to categorical (integers)
ds4['IncidentGroup'] = pd.factorize(ds4['IncidentGroup'])[0]

In [32]:
# check: what are all possible values for DESCRIPTION_GROUPE?
#print_all(ds4['PropertyType'].unique())

# convert: PropertyType to categorical (integers)
ds4['PropertyType'] = pd.factorize(ds4['PropertyType'])[0]

# convert: PropertyType to categorical (integers)
ds4['PropertyCategory'] = pd.factorize(ds4['PropertyCategory'])[0]

In [85]:
cost_cat = []
for item in ds4['Notional Cost (£)'].values:
    if item >= 0 and item < 100:
        cost_cat.append(1)
    elif item >= 100 and item < 200:
        cost_cat.append(2)
    elif item >= 200 and item < 300:
        cost_cat.append(3)
    elif item >= 300 and item < 400:
        cost_cat.append(4)
    elif item >= 400 and item < 500:
        cost_cat.append(5)
    elif item >= 500 and item < 600:
        cost_cat.append(6)
    elif item >= 600 and item < 700:
        cost_cat.append(7)
    elif item >= 700 and item < 800:
        cost_cat.append(8)
    elif item >= 800 and item < 900:
        cost_cat.append(9)    
    elif item >= 900 and item < 1000:
        cost_cat.append(10)
    else:
        cost_cat.append(11)

ds4['CostCat'] = cost_cat

In [86]:
ds4['CostCat'].value_counts()

3     702054
4     569117
6      62220
7      44409
11     40199
8      22550
10      6710
9       6053
Name: CostCat, dtype: int64

In [87]:
# save dataset to disk
ds4.to_csv('london_clean.csv', index=False)

In [36]:
len(ds4)

1453312