In [2]:
import pandas as pd
from datetime import datetime

In [3]:
def print_all(arr):
    for item in arr:
        print(item)

In [4]:
# load the dataset with columns we intend to use
usedcols = ['DateOfCall', 'CalYear', 'HourOfCall', 'IncidentGroup', 
'PropertyType', 'PumpHoursRoundUp', 'NumPumpsAttending', 
'Notional Cost (£)', 'PropertyCategory']
ds = pd.read_csv('data/lfb_incident.csv', usecols=usedcols)
print("Count:", len(ds))

Count: 1465060

In [5]:
# filter: remove row if there is nan in any other column
ds3 = ds.dropna()
print("Count:", len(ds3))

Count: 1453312

In [6]:
# print
ds4 = pd.DataFrame(ds3)
ds4[0:3]

,DateOfCall,CalYear,HourOfCall,IncidentGroup,PropertyCategory,PropertyType,NumPumpsAttending,PumpHoursRoundUp,Notional Cost (£)
0,01 Jan 2009,2009,0,Special Service,Road Vehicle,Car,2.0,1.0,255.0
2,01 Jan 2009,2009,0,Fire,Outdoor,Road surface/pavement,1.0,1.0,255.0
3,01 Jan 2009,2009,0,Fire,Outdoor,Domestic garden (vegetation not equipment),1.0,1.0,255.0

duplicate the date for inner join

In [7]:
ds4['Date'] = ds4['DateOfCall']

In [8]:
ds4

,DateOfCall,CalYear,HourOfCall,IncidentGroup,PropertyCategory,PropertyType,NumPumpsAttending,PumpHoursRoundUp,Notional Cost (£),Date
0,01 Jan 2009,2009,0,Special Service,Road Vehicle,Car,2.0,1.0,255.0,01 Jan 2009
2,01 Jan 2009,2009,0,Fire,Outdoor,Road surface/pavement,1.0,1.0,255.0,01 Jan 2009
3,01 Jan 2009,2009,0,Fire,Outdoor,Domestic garden (vegetation not equipment),1.0,1.0,255.0,01 Jan 2009
4,01 Jan 2009,2009,0,Fire,Outdoor,Cycle path/public footpath/bridleway,2.0,1.0,255.0,01 Jan 2009
5,01 Jan 2009,2009,0,False Alarm,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 stor...,2.0,1.0,255.0,01 Jan 2009
...,...,...,...,...,...,...,...,...,...,...
1465055,30 Jun 2022,2022,23,False Alarm,Non Residential,Warehouse,1.0,1.0,364.0,30 Jun 2022
1465056,30 Jun 2022,2022,23,Special Service,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 stor...,1.0,1.0,364.0,30 Jun 2022
1465057,30 Jun 2022,2022,23,False Alarm,Non Residential,Pub/wine bar/bar,1.0,1.0,364.0,30 Jun 2022
1465058,30 Jun 2022,2022,23,False Alarm,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,1.0,1.0,364.0,30 Jun 2022
1465059,30 Jun 2022,2022,23,Special Service,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,1.0,1.0,364.0,30 Jun 2022

In [9]:
ds4['Date'] = pd.to_datetime(ds4['Date']).dt.strftime('%m/%d/%Y')

In [10]:
ds4

,DateOfCall,CalYear,HourOfCall,IncidentGroup,PropertyCategory,PropertyType,NumPumpsAttending,PumpHoursRoundUp,Notional Cost (£),Date
0,01 Jan 2009,2009,0,Special Service,Road Vehicle,Car,2.0,1.0,255.0,01/01/2009
2,01 Jan 2009,2009,0,Fire,Outdoor,Road surface/pavement,1.0,1.0,255.0,01/01/2009
3,01 Jan 2009,2009,0,Fire,Outdoor,Domestic garden (vegetation not equipment),1.0,1.0,255.0,01/01/2009
4,01 Jan 2009,2009,0,Fire,Outdoor,Cycle path/public footpath/bridleway,2.0,1.0,255.0,01/01/2009
5,01 Jan 2009,2009,0,False Alarm,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 stor...,2.0,1.0,255.0,01/01/2009
...,...,...,...,...,...,...,...,...,...,...
1465055,30 Jun 2022,2022,23,False Alarm,Non Residential,Warehouse,1.0,1.0,364.0,06/30/2022
1465056,30 Jun 2022,2022,23,Special Service,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 stor...,1.0,1.0,364.0,06/30/2022
1465057,30 Jun 2022,2022,23,False Alarm,Non Residential,Pub/wine bar/bar,1.0,1.0,364.0,06/30/2022
1465058,30 Jun 2022,2022,23,False Alarm,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,1.0,1.0,364.0,06/30/2022
1465059,30 Jun 2022,2022,23,Special Service,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,1.0,1.0,364.0,06/30/2022

In [11]:
# convert: IncidentDate from date to month only
ds4['DateOfCall'] = pd.to_datetime(ds4['DateOfCall']).dt.month

In [12]:
ds4

,DateOfCall,CalYear,HourOfCall,IncidentGroup,PropertyCategory,PropertyType,NumPumpsAttending,PumpHoursRoundUp,Notional Cost (£),Date
0,1,2009,0,Special Service,Road Vehicle,Car,2.0,1.0,255.0,01/01/2009
2,1,2009,0,Fire,Outdoor,Road surface/pavement,1.0,1.0,255.0,01/01/2009
3,1,2009,0,Fire,Outdoor,Domestic garden (vegetation not equipment),1.0,1.0,255.0,01/01/2009
4,1,2009,0,Fire,Outdoor,Cycle path/public footpath/bridleway,2.0,1.0,255.0,01/01/2009
5,1,2009,0,False Alarm,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 stor...,2.0,1.0,255.0,01/01/2009
...,...,...,...,...,...,...,...,...,...,...
1465055,6,2022,23,False Alarm,Non Residential,Warehouse,1.0,1.0,364.0,06/30/2022
1465056,6,2022,23,Special Service,Dwelling,Purpose Built Flats/Maisonettes - Up to 3 stor...,1.0,1.0,364.0,06/30/2022
1465057,6,2022,23,False Alarm,Non Residential,Pub/wine bar/bar,1.0,1.0,364.0,06/30/2022
1465058,6,2022,23,False Alarm,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,1.0,1.0,364.0,06/30/2022
1465059,6,2022,23,Special Service,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,1.0,1.0,364.0,06/30/2022

In [13]:
# check: what are all possible values for IncidentGroup?
#print_all(ds4['IncidentGroup'].unique())

ds4['NumPumpsAttending'] = ds4['NumPumpsAttending'].astype('int64')
ds4['Notional Cost (£)'] = ds4['Notional Cost (£)'].astype('int64')
ds4['PumpHoursRoundUp'] = ds4['PumpHoursRoundUp'].astype('int64')
ds4['HourOfCall'] = ds4['HourOfCall'].astype('int64')

# convert: IncidentGroup to categorical (integers)
ds4['IncidentGroup'] = pd.factorize(ds4['IncidentGroup'])[0]

In [14]:
# check: what are all possible values for DESCRIPTION_GROUPE?
#print_all(ds4['PropertyType'].unique())

# convert: PropertyType to categorical (integers)
ds4['PropertyType'] = pd.factorize(ds4['PropertyType'])[0]

# convert: PropertyType to categorical (integers)
ds4['PropertyCategory'] = pd.factorize(ds4['PropertyCategory'])[0]

In [15]:
cost_cat = []
for item in ds4['Notional Cost (£)'].values:
    if item >= 0 and item < 100:
        cost_cat.append(1)
    elif item >= 100 and item < 200:
        cost_cat.append(2)
    elif item >= 200 and item < 300:
        cost_cat.append(3)
    elif item >= 300 and item < 400:
        cost_cat.append(4)
    elif item >= 400 and item < 500:
        cost_cat.append(5)
    elif item >= 500 and item < 600:
        cost_cat.append(6)
    elif item >= 600 and item < 700:
        cost_cat.append(7)
    elif item >= 700 and item < 800:
        cost_cat.append(8)
    elif item >= 800 and item < 900:
        cost_cat.append(9)    
    elif item >= 900 and item < 1000:
        cost_cat.append(10)
    else:
        cost_cat.append(11)

ds4['CostCat'] = cost_cat

In [16]:
ds4['CostCat'].value_counts()

3     702054
4     569117
6      62220
7      44409
11     40199
8      22550
10      6710
9       6053
Name: CostCat, dtype: int64

In [17]:
# save dataset to disk
ds4.to_csv('london_clean.csv', index=False)

In [18]:
len(ds4)

1453312

In [19]:
ds4

,DateOfCall,CalYear,HourOfCall,IncidentGroup,PropertyCategory,PropertyType,NumPumpsAttending,PumpHoursRoundUp,Notional Cost (£),Date,CostCat
0,1,2009,0,0,0,0,2,1,255,01/01/2009,3
2,1,2009,0,1,1,1,1,1,255,01/01/2009,3
3,1,2009,0,1,1,2,1,1,255,01/01/2009,3
4,1,2009,0,1,1,3,2,1,255,01/01/2009,3
5,1,2009,0,2,2,4,2,1,255,01/01/2009,3
...,...,...,...,...,...,...,...,...,...,...,...
1465055,6,2022,23,2,5,101,1,1,364,06/30/2022,4
1465056,6,2022,23,0,2,4,1,1,364,06/30/2022,4
1465057,6,2022,23,2,5,83,1,1,364,06/30/2022,4
1465058,6,2022,23,2,2,12,1,1,364,06/30/2022,4
1465059,6,2022,23,0,2,12,1,1,364,06/30/2022,4

In [20]:
weather_data = pd.read_csv('data/london_weather.csv')
weather_data

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0
4,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0
...,...,...,...,...,...,...,...,...,...,...
15336,20201227,1.0,0.9,32.0,7.5,7.5,7.6,2.0,98000.0,NaN
15337,20201228,7.0,3.7,38.0,3.6,1.1,-1.3,0.2,97370.0,NaN
15338,20201229,7.0,0.0,21.0,4.1,2.6,1.1,0.0,98830.0,NaN
15339,20201230,6.0,0.4,22.0,5.6,2.7,-0.1,0.0,100200.0,NaN
15340,20201231,7.0,1.3,34.0,1.5,-0.8,-3.1,0.0,100500.0,NaN

In [21]:
weather_data['date'] = pd.to_datetime(weather_data['date'], format='%Y%m%d').dt.strftime('%m/%d/%Y')
weather_data

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,01/01/1979,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1,01/02/1979,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
2,01/03/1979,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
3,01/04/1979,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0
4,01/05/1979,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0
...,...,...,...,...,...,...,...,...,...,...
15336,12/27/2020,1.0,0.9,32.0,7.5,7.5,7.6,2.0,98000.0,NaN
15337,12/28/2020,7.0,3.7,38.0,3.6,1.1,-1.3,0.2,97370.0,NaN
15338,12/29/2020,7.0,0.0,21.0,4.1,2.6,1.1,0.0,98830.0,NaN
15339,12/30/2020,6.0,0.4,22.0,5.6,2.7,-0.1,0.0,100200.0,NaN
15340,12/31/2020,7.0,1.3,34.0,1.5,-0.8,-3.1,0.0,100500.0,NaN

In [22]:
weather_data = weather_data.rename(columns={'date': 'Date'})
weather_data[10958: :]

,Date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
10958,01/01/2009,8.0,0.0,13.0,3.5,1.5,-0.5,0.0,103010.0,0.0
10959,01/02/2009,6.0,1.4,25.0,5.9,3.4,0.8,0.0,103000.0,0.0
10960,01/03/2009,0.0,6.4,50.0,4.7,0.9,-2.9,0.0,102980.0,0.0
10961,01/04/2009,5.0,0.0,13.0,1.7,-2.2,-6.0,0.6,102350.0,0.0
10962,01/05/2009,6.0,1.9,29.0,3.1,-0.6,-4.2,0.6,102180.0,0.0
...,...,...,...,...,...,...,...,...,...,...
15336,12/27/2020,1.0,0.9,32.0,7.5,7.5,7.6,2.0,98000.0,NaN
15337,12/28/2020,7.0,3.7,38.0,3.6,1.1,-1.3,0.2,97370.0,NaN
15338,12/29/2020,7.0,0.0,21.0,4.1,2.6,1.1,0.0,98830.0,NaN
15339,12/30/2020,6.0,0.4,22.0,5.6,2.7,-0.1,0.0,100200.0,NaN
15340,12/31/2020,7.0,1.3,34.0,1.5,-0.8,-3.1,0.0,100500.0,NaN

In [23]:
london_clean_weather = pd.merge(ds4, weather_data, on='Date')

In [24]:
london_clean_weather

,DateOfCall,CalYear,HourOfCall,IncidentGroup,PropertyCategory,PropertyType,NumPumpsAttending,PumpHoursRoundUp,Notional Cost (£),Date,CostCat,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,1,2009,0,0,0,0,2,1,255,01/01/2009,3,8.0,0.0,13.0,3.5,1.5,-0.5,0.0,103010.0,0.0
1,1,2009,0,1,1,1,1,1,255,01/01/2009,3,8.0,0.0,13.0,3.5,1.5,-0.5,0.0,103010.0,0.0
2,1,2009,0,1,1,2,1,1,255,01/01/2009,3,8.0,0.0,13.0,3.5,1.5,-0.5,0.0,103010.0,0.0
3,1,2009,0,1,1,3,2,1,255,01/01/2009,3,8.0,0.0,13.0,3.5,1.5,-0.5,0.0,103010.0,0.0
4,1,2009,0,2,2,4,2,1,255,01/01/2009,3,8.0,0.0,13.0,3.5,1.5,-0.5,0.0,103010.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1289685,12,2020,23,2,2,4,2,1,346,12/31/2020,4,7.0,1.3,34.0,1.5,-0.8,-3.1,0.0,100500.0,NaN
1289686,12,2020,23,1,1,10,1,1,346,12/31/2020,4,7.0,1.3,34.0,1.5,-0.8,-3.1,0.0,100500.0,NaN
1289687,12,2020,23,1,3,264,1,1,346,12/31/2020,4,7.0,1.3,34.0,1.5,-0.8,-3.1,0.0,100500.0,NaN
1289688,12,2020,23,2,2,12,2,1,346,12/31/2020,4,7.0,1.3,34.0,1.5,-0.8,-3.1,0.0,100500.0,NaN
1289689,12,2020,23,0,2,8,2,1,346,12/31/2020,4,7.0,1.3,34.0,1.5,-0.8,-3.1,0.0,100500.0,NaN

In [30]:
london_clean_weather = london_clean_weather[london_clean_weather['mean_temp'].notna()]
london_clean_weather.to_csv('london_clean_weather.csv', index=False)

In [31]:
len(london_clean_weather)

1286617