In [35]:
import pandas as pd
from datetime import datetime

In [36]:
def print_all(arr):
    for item in arr:
        print(item)

In [37]:
# load the dataset with columns we intend to use
usedcols = ['CREATION_DATE_TIME', 'INCIDENT_TYPE_DESC', 
          'DESCRIPTION_GROUPE', 'NOM_ARROND', 'NOM_VILLE']
ds = pd.read_csv('donnes.csv', usecols=usedcols)
print("Count:", len(ds))

Count: 908486

In [38]:
# filter: remove row if there is nan in any other column
ds3 = ds.dropna()
print("Count:", len(ds3))

Count: 908486

In [39]:
# print
ds4 = pd.DataFrame(ds3)
ds4[0:3]

,CREATION_DATE_TIME,INCIDENT_TYPE_DESC,DESCRIPTION_GROUPE,NOM_VILLE,NOM_ARROND
0,2005-01-01 00:03:47,Inondation,Sans incendie,Montréal-Nord,Montréal-Nord
1,2005-01-01 00:03:56,Alarme privé ou locale,Alarmes-incendies,Montréal,Ville-Marie / Parc Jean-Drapeau / Centre-Sud
2,2005-01-01 00:03:57,Alarme privé ou locale,Alarmes-incendies,Saint-Laurent,St-Laurent

In [40]:
# convert: IncidentDate from date to month only
ds4['CREATION_DATE_TIME'] = ds4['CREATION_DATE_TIME'].apply(lambda row: datetime.strptime(row, '%Y-%m-%d %H:%M:%S').strftime('%-m'))

In [41]:
# check: what are all possible values for INCIDENT_TYPE_DESC?
#print_all(ds4['INCIDENT_TYPE_DESC'].unique())

# convert: INCIDENT_TYPE_DESC to categorical (integers)
ds4['INCIDENT_TYPE_DESC'] = pd.factorize(ds4['INCIDENT_TYPE_DESC'])[0]

In [42]:
# check: what are all possible values for DESCRIPTION_GROUPE?
#print_all(ds4['DESCRIPTION_GROUPE'].unique())

# convert: DESCRIPTION_GROUPE to categorical (integers)
ds4['DESCRIPTION_GROUPE'] = pd.factorize(ds4['DESCRIPTION_GROUPE'])[0]

In [43]:
# check: what are all possible values for NOM_ARROND?
#print_all(ds4['NOM_ARROND'].unique())

# convert: NOM_ARROND to categorical (integers)
ds4['NOM_ARROND'] = pd.factorize(ds4['NOM_ARROND'])[0]

In [45]:
# check: what are all possible values for NOM_ARROND?
print_all(ds4['NOM_VILLE'].unique())

# convert: NOM_ARROND to categorical (integers)
ds4['NOM_VILLE'] = pd.factorize(ds4['NOM_VILLE'])[0]

Montréal-Nord
Montréal
Saint-Laurent
Anjou
Westmount
Saint-Léonard
Ste-Anne-de-Bellevue
Verdun / Ïle-des-Soeurs
Lasalle
Mont-Royal
Roxboro
Pierrefonds
Pointe-Claire
Montréal-Est
Ste-Geneviève
Montréal-Ouest
Dorval
Beaconsfield
Lachine
Outremont
Dollard-des-Ormeaux
Kirkland
Côte St-Luc
Ile-Bizard
Baie d'Urfé
Hampstead
Senneville
Saint-Hubert
Laval
Ile Dorval
Indéterminé

In [46]:
# save dataset to disk
ds4.to_csv('mtl_clean.csv', index=False)

In [34]:
len(ds4)

908486